body {

    background-color: black;
    color: white;
    font-family: Georgia, serif;
    font-size: x-large;

}

a {
    color: inherit;
}

a:link {
      text-decoration: none;
}

#middleMenu {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}